<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  
  <test thread-count="1" name="Test001">
    <parameter name="firstname" value="Bella" />
    <parameter name="lastname" value="Rodriguez" />
    <parameter name="totalprice" value="7550" />
    <parameter name="checkin" value="2023-05-20" />
    <parameter name="checkout" value="2023-05-21" />
    <parameter name="additionalneeds" value="Presidential Suite" />
    <parameter name="newneeds" value="Whole facility to enjoy" />
    <classes>
      <class name="ravn.PostBooking" />
      <class name="ravn.GetBooking" />
      <class name="ravn.ValidateResponse" />
      <class name="ravn.UpdateBooking" />
      <class name="ravn.ValidateUpdate" />
    </classes>
  </test>  <!-- Test -->

</suite> <!-- Suite -->